@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "popins",sans-serif;
}
:root{
  --red:#D01C28;
  --button-bg-color: #D01C28;
}
*{
  margin: 0;
  padding: 0;
}
button,nav ul{
  cursor: pointer;
}
button{
  margin-right: 15px;
  background-color: var(--red);
  padding: 6px 16px;
  font-weight: 700;
  height: 32px;
  color: white;
  border: none;
  border-radius: 5px;
  

}
#category{
  background-color: aliceblue;
  color: black;
  border: 1px solid rgb(47, 45, 45);
  border-style: groove;
}
 
.Navbar{
  margin: 0 12px 0 12px;
}
 nav{
  padding: 10px 0 10px 0;
  display: flex;
  gap:33rem;
  /* justify-content: space-between; */
  max-width:1430px;
  height:60px;
  align-items: center;
  
 }
 nav ul{
 
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  gap: 40px;
 }
 .Hero-section{
  display: flex;
  align-items: center;
  /* height: 613px; */
  height:calc(100vh-60px);
  width: 1125px;
  margin: 0 auto;
  
 }
.Hero-section .Hero-containts{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 613px;
  width: 595px;
}
.Hero-containts h1{
  font-weight:800;
  font-size: 4.5rem;
  line-height: 1;
}
.Hero-section .Hero-image{
  /* position: fixed; */
  height:487.06px ;
  width:530px ;
}
.shopping .Brand-logo img{
  cursor: pointer;
  margin: 10px 10px 0 0;
}
 